@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 30px 30px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-gradient-to-r {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.bg-gradient-to-l {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.space-x-8 > * {
  margin-right: 2rem;
}

/* .decoration::after {
  content: '';
  @apply hidden xl:block absolute top-0 -left-10 w-px h-60 bg-light-gray;
}
.decoration::before {
  content: '';
  @apply hidden xl:block absolute bottom-0 -right-10 w-px h-60 bg-light-gray;
} */
